@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'pokemonclass';
  src: url('/public/fonts/pokemonclass.ttf');
}

:root {
  font-family: pokemonclass;
}

html {
  scroll-behavior: smooth;
}