@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'pokemon-gb';
    src: url('../public/fonts/pokemon-gb.ttf');
  }
  @font-face {
    font-family: 'pokemon';
    src: url('../public/fonts/pokemon.ttf');
  }
}
